{% extends 'base.html' %}

{% block body %}
<table class="table table-primary table-striped">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Bloodgroup</th>
        <th>City</th>
        <th>BloodBank</th>
        <th>Contact Person</th>
        <th>Contact No.</th>
    </tr>
    {% for data in mydata %}
    <tr>
    <td>{{ data.dname }}</td>
    <td>{{ data.address }}</td>
    <td>{{ data.city }}</td>
    <td>{{ data.bloodgroup }}</td>
    <td>{{ data.bloodbankid.bbname }}</td>
    <td>{{ data.bloodbankid.contactPerson }}</td>
    <td>{{ data.bloodbankid.contact }}</td>
    </tr>
{% endfor %} 
</table>
{% endblock body %}